$screen-padding-y: 16px;
$section-gap:       16px;

.screen {
  padding:        $screen-padding-y $screen-padding-x;
  display:        flex;
  flex-direction: column;
  gap:            $section-gap;
}

.grid {
  display:               grid;
  grid-template-columns: repeat(3, 1fr);
  gap:                   $grid-gap-default;
}
