$flag-size-sm: 1rem;
$flag-size-md: 1.5rem;
$flag-size-lg: 2.5rem;

.flag {
  display:     inline-block;
  line-height: 1;

  &.sm { font-size: $flag-size-sm; }
  &.md { font-size: $flag-size-md; }
  &.lg { font-size: $flag-size-lg; }
}
