$screen-padding-y: 16px;
$section-gap:      24px;
$links-gap:        8px;

.screen {
  padding:        $screen-padding-y $screen-padding-x;
  display:        flex;
  flex-direction: column;
  gap:            $section-gap;
}

.links {
  display:        flex;
  flex-direction: column;
  gap:            $links-gap;
}

.footer {
  display:         flex;
  justify-content: center;
}
