@use 'variables' as *;
@use 'base';

body {
  font-family:      $font-family;
  font-size:        $font-size-md;
  line-height:      $line-height-normal;
  background:       $color-bg;
  min-height:       100vh;
  color:            $color-text-primary;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
  display:    flex;
  flex-direction: column;
}
